{% extends 'master.html' %}
{% load static %} 

{% block head %}
	<link rel="stylesheet" href="{% static 'css/clases.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/brawlers.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/poderes.css' %}"> 
{% endblock %}

{% block contenido %}
    <p class="titulo-poderes">Lista de todos los gadgets</p>
    <div class="powers-grid">
        {% for brawler in brawlers %}
            <!-- Imagen del Brawler -->
            <div class="brawler-item">
                <a href="/brawlers/brawler/{{ brawler.nombre }}" class="brawler-link">
                    <img src="{{ brawler.imagen.url }}" alt="{{ brawler.nombre }}" class="imagen-brawler">
                </a>
                <div class="poderes-lista">
                    {% for gadget in brawler.gadgets.all %}
                    <div class="poder-imagen">
                        <img src="{{ gadget.imagen.url }}" alt="{{ gadget.nombre }}" class="imagen-poder">
                        <p class="poder">{{ gadget.nombre }}</p>
                    </div>
                    {% empty %}
                        <p>No tiene gadgets.</p>
                    {% endfor %}
                </div>  
            </div>
        {% empty %}
            <p>No hay brawlers disponibles.</p>
        {% endfor %}
    </div>
{% endblock %}